<div class="jumbotron" id="homejumbotron">
<div class="container">
  <h1>Hello {{user.displayName}}! </h1>
 </div>
</div>



{{#each photos}}
<div class="">
    <div class="thumbnail" id="smallimages">
      <img src="{{url}}">
      <div class="caption">
        <p>{{caption}}</p>
      </div>
    </div>
  </div>
{{/each}}

<img src="{{cover.source}}">  

</div>
</div>

<a class="btn btn-danger" id="logoutbutton" href="/" role="button">Logout</a>