<div class="jumbotron" id="homejumbotron">

<div class="container">

  <h1>Hello {{user.displayName}}! </h1>

<img src="{{cover.source}}">  

</div>
</div>

<a class="btn btn-danger" id="logoutbutton" href="/" role="button">Logout</a>