<div class="jumbotron" id="homejumbotron">
<div class="container">
  <h1>Social Media Analyzer 2.0</h1>
  <p class="lead">View awesome things about your social media habits with the help of our ground-breaking tool.</p>
</div>
</div>


<div class="container" id="centercont">
  <p>To get started, simply login using one of your social media accounts.</p>
 </div>
<div class="container" id="buttonscontainer">
<a href="/auth/instagram" class="btn btn-default  instagrambutton" role="button" id="centerbutton"><i class="fa fa-instagram"></i> Login with Instagram</a>
<br> 
<a href="/auth/facebook" class="btn btn-default facebookbutton" role="button" id="centerbutton"><i class="fa fa-facebook-official"></i> Login with Facebook</a>
</div>